*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.box {
    padding: 1rem;
    margin: auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.box > div {
    padding: 1rem;
    font-size: 1.2rem;
}